.about-info{
    width: 100%;
    position: relative; 
    margin-top: 15px;
    padding-top: 30px;
   
}
.about-info-heading{
    text-align: center;
}
.about-info-detail{
    text-align: center;
}

.about{
    display: flex;
    position: relative;
    min-height: 60vh;
    
}

.about-left{
    position: absolute;
    left: 17%;
    top: 60px;
    width: 40%;
    
    height: auto;
  
   
}
.about-left button{
background: black;
color: white;
width: 90px;
height: 30px;
margin-left: 60%;
margin-top: 20px;
}
