<section class="login">
    <div class="main">
        <h2>Login</h2>
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
    
            <label> User Name </label>         
            <input type="text" formControlName="username" 
            [ngClass]="{'check-input': login.get('username')?.invalid && login.get('username')?.touched}"/> <br> <br>  
            <br>   
            
            Password:  
            <input type="Password" id="repass" formControlName="pass"
            [ngClass]="{'check-input': login.get('pass')?.invalid && login.get('pass')?.touched}"> <br> <br>  
    
           <button type="submit">Login</button>
        </form>
    </div>
 </section>